$primary-color: #173753;
$font-color: #3F4254;
$light-gray: #DDD;

.border-class {
  border-radius: 3px; border: 1px solid $light-gray; outline: none;
}

body { line-height: 1.3; margin: 0; background: #fbf6f0; color: $font-color; font-family: Helvetica, "sans-serif"; }
body * { box-sizing: border-box; }
a { color: $primary-color; }
.hide { display: none; }
h2 { margin: 0 0 25px;  }
label { width: 100%; font-size: 14px; display: block; margin: 30px 0 10px; }
input[type=text], select, input[type=number] { width: 100%; display: block; border: none; outline: none; background: #F3F6F9; border-radius: 3px; padding: 20px; }
input[type=checkbox] { border: none; width: 25px; height: 25px; margin-left: 25px; }
.btn { transition: .3s all; cursor: default; margin-top: 25px; border: none; outline: none; background: $primary-color; padding: 20px 30px; color: white; border-radius: 3px; font-weight: bold; }
.btn:hover { opacity: .7; }
.btn-sm.btn { margin-top: 0; padding: 10px 15px; }
.btn.btn-invert { background: white; color: $font-color; border: 2px solid $font-color; }
input[type=checkbox]:checked { background-color: $primary-color; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.disable-button { opacity: .5; pointer-events: none; }

.error-msg-wrap { display: flex; justify-content: center; padding: 20px; align-items: center; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 9999999; background: rgba(0,0,0,.7); }
.error-msg { @extend .border-class; padding: 20px; background: white; text-align: center; max-width: 400px; }
.error-msg > div:first-child { margin-bottom: 15px; font-size: 30px; }
.error-msg-wrap.add-users-form { align-items: flex-start; }
.error-msg-wrap.add-users-form .error-msg { padding-top: 10px; width: 800px; max-width: 95%; max-height: 100%; overflow: auto; }
.add-users-form input[type=checkbox] { width: 15px; height: 15px; }

.pop-up-close { margin-bottom: 0 !important; text-align: right; }
.pop-up-close svg { width: 34px; height: 34px; cursor: pointer; }

.top-bar { background: $primary-color; }
.top-bar-inner { display: flex; justify-content: space-between; align-items: center;  width: 1200px; max-width: 95%; margin: 0 auto; padding: 20px 0 15px; }
.top-bar-inner a { color: white !important; text-decoration: none; font-weight: bold; }
.top-bar-inner img { max-height: 35px; }

.nav { background: white; }
.nav-inner { display: flex; flex-wrap: wrap; width: 1200px; max-width: 95%; margin: 0 auto; padding: 0 0; display: flex; }
.nav-inner > a { display: block; width: 80px; color: $font-color; font-size: 18px; text-decoration: none; padding-left: 30px; border-right: 1px solid $light-gray; }
.nav-inner > a:first-child { padding-left: 0; }
.nav-inner > a:last-child { border-right: 0; }

.view { box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05); border-radius: 3px; max-width: 95%; width: 800px; background: white; padding: 60px 40px; margin: 30px auto; }

.user-line { display: flex; justify-content: space-between; align-items: center; padding: 15px 2% 15px; border-bottom: 1px solid $light-gray; }
.user-line svg { fill: red; width: 20px; height: 20px; cursor: pointer; }

.side-btns { display:flex;justify-content:center }
.side-btns .btn:first-child { margin-right: 10px; }
.side-btns .btn:last-child { margin-right: 10px; }
.side-btns .btn { margin-top: 10px }

.stripe-valid { display: flex; align-items: center; }
.stripe-valid-icon svg { width: 40px; color: green; margin-right: 15px; }
.stripe-invalid-icon svg { width: 40px; color: red; margin-right: 15px;  }

.side-input { margin-top: 15px; display: flex; justify-content: space-between; }
.side-input > * { width: 49% !important; }

.form-wrap { width: 700px; max-width: 100%; margin: auto }

/* LOADING SPINNER */
.lds-wrapper { width: 60px; height: 60px; margin: 50px auto; }
.table-filters .lds-wrapper { margin: 0 auto; width: 30px; height: 30px; }
.lds-ring {
display: inline-block;
position: relative;
width: 100%;
height: 100%;
}
.lds-ring div {
box-sizing: border-box;
display: block;
position: absolute;
width: 80%;
height: 80%;
margin: 10%;
border: 5px solid $primary-color;
border-radius: 50%;
animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color:$primary-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
.slide-up {
  animation: slide-up .5s;
}
@keyframes slide-up {
  0% {
    transform: translateY(100px); opacity: 0;
  }
  100% {
    transform: translateY(0); opacity: 1;
  }
}

@media(max-width: 991px) {
  .nav-inner > a { border: 0; padding-left: 0; margin-bottom: 5px; min-width: 100%; }
}

@media(max-width: 767px) {
  .side-input { margin-top: 0; display: block; }
  .side-input > * { width: 100% !important; margin-top: 15px; }
}